---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Tienda">
  <section class="py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-4">Acerca de Cuality Team</h1>
      <p class="mb-4">
        Cuality Team es una empresa dedicada a ofrecer soluciones tecnológicas innovadoras y de
        alta calidad. Nuestro objetivo es proporcionar a nuestros clientes herramientas y
        servicios que les permitan alcanzar sus metas de manera eficiente y efectiva.
      </p>
      <p class="mb-4">
        Inspirados por la dedicación y el compromiso de empresas líderes en la industria, como
        Steam, nos esforzamos por mantener un alto estándar de excelencia en todo lo que
        hacemos. Nuestro equipo está compuesto por profesionales altamente capacitados y
        apasionados por la tecnología, siempre dispuestos a enfrentar nuevos desafíos y superar
        las expectativas de nuestros clientes.
      </p>
      <p class="mb-4">
        En Cuality Team, creemos en la importancia de la innovación continua y la mejora
        constante. Nos mantenemos al día con las últimas tendencias y avances tecnológicos para
        asegurarnos de que nuestros productos y servicios sean siempre de vanguardia.
      </p>
      <a
        href="/"
        class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"
      >
        Volver a la página principal
      </a>
    </div>
  </section>
</Layout>
