---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Muy pronto">
  <h1>Próximamente</h1>
  <p>Este juego estará disponible pronto. ¡Mantente atento!</p>
  <a href="/" class="text-blue-400 mt-4 inline-block">↩️ Volver al menu principal</a>
</Layout>
