---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Soporte">
  <section class="py-8">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-4">Soporte Técnico</h1>
      <p class="mb-4">
        En Cuality Team, nos enorgullece ofrecer un servicio de soporte técnico de primera
        clase a todos nuestros clientes. Nuestro equipo de expertos está disponible para
        ayudarte con cualquier problema o pregunta que puedas tener, y se esforzará por
        resolverlo de manera rápida y eficiente.
      </p>
      <p class="mb-4">
        Si necesitas ayuda con alguno de nuestros productos o servicios, no dudes en ponerte en
        contacto con nosotros. Estamos aquí para ayudarte y haremos todo lo posible para
        garantizar tu satisfacción.
      </p>
      <p class="mb-4">
        Para obtener asistencia, por favor envíanos un correo electrónico a{' '}
        <a href="mailto:db355073@gmail.com" class="text-blue-500 hover:underline"> Aqui </a>
      </p>
    </div>
  </section></Layout
>
