---
// Supports weights 100-900
import '@fontsource-variable/roboto-condensed'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
const currentYear = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="max-w-5xl mx-auto">
      <slot />
      <footer class="py-4">
        <span class="mr-4">
          © {currentYear}
          <a target="_blank" href="https://github.com/contexto01">
            Cuality Team - Daniel (@contexto01)</a
          > Todos los derechos reservados
        </span>
      </footer>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --primary-color: #2898ee; /* Azul */
    --secondary-color: #eeeeee; /* Blanco */
    --tertiary-color: #050505; /* Negro */
    --quaternary-color: #111;
  }
  html {
    font-family:
      'Roboto Condensed Variable',
      Trebuchet MS;
    background: #13151a;
    color-scheme: dark light;
  }
</style>
